@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 20px;
  overflow-x: hidden;
  background-color: #E5E7EB;
}

body .header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .logo-box {
  margin-left: 25px;
}

body .header .logo-box .logo {
  margin: 20px 0 0 0;
  height: 75px;
}

body .header .closebtn, body .header .ham-icon {
  display: none;
}

body .header .nav-box {
  margin-right: 3%;
  margin-top: 36px;
}

body .header .nav-box a {
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

body .header .nav-box .btn:link, body .header .nav-box .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
}

body .header .nav-box .btn-white {
  border: solid 2px #2F0743;
  border-radius: 0px;
  background-color: transparent;
  padding: 10px 30px !important;
  text-align: center;
  color: #363435 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .header .nav-box .btn-white:hover {
  background-color: #2F0743;
  color: #fff !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .main_cart {
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 80%;
  margin: 80px auto;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

body .main_cart .main_cart_sec_1 {
  padding-top: 20px;
  width: 50%;
}

body .main_cart .main_cart_sec_1 .cart_sub-head,
body .main_cart .main_cart_sec_1 .cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px #E5E7EB;
  color: #363435;
}

body .main_cart .main_cart_sec_1 .cart_sub-head span,
body .main_cart .main_cart_sec_1 .cart_item span {
  width: 100%;
  text-align: center;
}

body .main_cart .main_cart_sec_1 .cart_sub-head {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 18px;
}

body .main_cart .main_cart_sec_1 .cart_item {
  font-size: 16px;
  padding: 20px 0;
  font-weight: 500;
}

body .main_cart .main_cart_sec_1 .cart_item .delete_item {
  display: none;
}

body .main_cart .main_cart_sec_1 .cart_item .cart_item-delete #delete_btn {
  font-size: 20px;
  color: #B52421;
  font-weight: 900;
  cursor: pointer;
}

body .main_cart .main_cart_sec_1 .total_price_box {
  width: 50%;
  float: right;
  background-color: #363435;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body .main_cart .main_cart_sec_1 .total_price_box .price_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #E5E7EB;
  color: #fff;
  font-size: 14px;
  padding: 12px 0;
}

body .main_cart .main_cart_sec_1 .total_price_box .price_item span:nth-child(1) {
  font-weight: 500;
}

body .main_cart .main_cart_sec_1 .total_price_box .order_total {
  border-bottom: solid 2px #E5E7EB;
  font-size: 16px;
}

body .main_cart .main_cart_sec_2 {
  display: -ms-grid;
  display: grid;
  width: 45%;
}

body .main_cart .main_cart_sec_2 .checkout_box {
  /*--------------------
                Form
                --------------------*/
  /*--------------------
                Checkout
                --------------------*/
  /*--------------------
                Credit Card
                --------------------*/
}

body .main_cart .main_cart_sec_2 .checkout_box .btn {
  display: block;
  background: #bded7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}

body .main_cart .main_cart_sec_2 .checkout_box .btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

body .main_cart .main_cart_sec_2 .checkout_box .btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
  background: #fff;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset input,
body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select {
  width: 100%;
  height: 38px;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset input.input-cart-number,
body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset input.input-cart-number:last-child,
body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select {
  position: relative;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select::after {
  content: '';
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}

body .main_cart .main_cart_sec_2 .checkout_box .form fieldset .select select :-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

body .main_cart .main_cart_sec_2 .checkout_box .form button {
  width: 100%;
  outline: none !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#A3201E), color-stop(#B52421), to(rgba(181, 38, 33, 0.884)));
  background-image: linear-gradient(to right, #A3201E, #B52421, rgba(181, 38, 33, 0.884));
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

body .main_cart .main_cart_sec_2 .checkout_box .form button .fa {
  margin-right: 6px;
}

body .main_cart .main_cart_sec_2 .checkout_box .checkout {
  margin: 130px auto 30px;
  position: relative;
  width: 460px;
  background: #363435;
  border-radius: 15px;
  padding: 160px 45px 30px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box {
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box:hover .flip,
body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .front,
body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .front::before,
body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: .05;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .flip {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .logo .card_type {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 25px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .back .logo {
  top: 150px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .card-holder,
body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}

body .main_cart .main_cart_sec_2 .checkout_box .credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

body footer .social_footer_ul li a {
  padding: 5px 8px;
}

@media screen and (max-width: 850px) {
  body .header .nav-box a {
    padding: 10px 13px;
  }
}

@media screen and (max-width: 800px) {
  body .header .logo-box .logo {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  body .header .nav-box a {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  body .header .nav-box {
    margin-top: 0;
  }
  body .header .closebtn, body .header .ham-icon {
    display: block;
  }
  body .header .ham-icon {
    border-radius: 100px;
    padding: 0px 14px;
    background-color: #fff;
    color: rgba(54, 52, 53, 0.8);
    position: absolute;
    top: 25px;
    right: 5%;
    font-size: 38px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  body .header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 17, 113, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .header .overlay .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  body .header .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .header .overlay a:hover, body .header .overlay a:focus {
    color: #f1f1f1;
  }
  body .header .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  body .header .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  body .header .overlay .overlay-content .btn:link, body .header .overlay .overlay-content .btn:visited {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .header .overlay .overlay-content .btn-white {
    border-radius: 0px;
    background-color: transparent;
    padding: unset;
    text-align: center;
    color: #fff !important;
    -webkit-transition: none;
    transition: none;
    border: none;
  }
  body .header .overlay .overlay-content .btn-white:hover {
    border: none;
    background-color: rgba(0, 17, 113, 0.9);
    -webkit-transition: none;
    transition: none;
    padding: 0px !important;
  }
}

@media screen and (max-width: 440px) {
  body .header .logo-box .logo {
    height: 55px;
  }
}

@media screen and (max-width: 380px) {
  body .header .logo-box .logo {
    height: 50px;
  }
  body .header .ham-icon {
    padding: 0px 13px;
    font-size: 29px;
  }
}
/*# sourceMappingURL=cart.css.map */
