.checkout_section {

    .accordion {

        .card {

            .card-header {

                button {

                    .fa-check {
                        color: #fff;
                        background-color: rgb(20, 223, 20);
                        padding: 0.15rem;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 20px;
                        color: #646464;
                        text-align: left;
                    }
                }
            }
        }
    }
}